# Temporarily disable .htaccess rules for debugging
# <IfModule mod_mime.c>
#   AddType application/wasm .wasm
#   AddType application/javascript .mjs
# </IfModule>

# <IfModule mod_expires.c>
#   ExpiresActive On
#   ExpiresByType application/wasm "access plus 1 year"
#   ExpiresByType application/javascript "access plus 1 year"
# </IfModule>